--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1
fastapi
uvicorn
python-dotenv
langchain
langchain-openai
langchain_community
langchain-huggingface
sentence-transformers
faiss-cpu
pandas
rank_bm25
python-multipart
